<!DOCTYPE html>
<html lang="en">
<!--資管二A-->
<!--411017187-->
<!--蕭莉瓊-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人簡介</title>
</head>
<body bgcolor="#E5E8E8">
    <h1 align="center"><font face="標楷體"><p style="color:black;">自我介紹</p></font></h1>
	<hr>
	<p align="right"><img src="https://www1.pu.edu.tw/~s1101718/CSP/photo.jpg" style="width:400px;htight:400px;"></p>
    <h2><p align="left"><u>大家好!歡迎來到我的個人網頁~</u></p></h2>
    <h3><p align="left">姓名:蕭莉瓊<br>生日:2003/03/24<br>學歷:靜宜大學 資訊管理學系<br>
	E-mail:joanne92324@gmail.com<br>
	關於我的興趣方面，我喜歡聽音樂、看影片，還喜歡跟朋友一起到處吃吃喝喝，有空的時候也會跟朋友一起打排球。<br>我覺得這些興趣可以讓我放鬆身心靈以及紓解壓力。</p></h3> 
	<p align="center"><a href="https://www1.pu.edu.tw/~s1101718/CSP/index.html">回首頁</a></p>
	</body>
</html>