<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS工作介紹</title>
</head>
<body bgcolor="#E5E8E8">
	<h2>MIS工作</h2>
	<h3>資訊助理工讀生</h3>
	<h3>仲信資產管理股份有限公司</h3>
	<h3>工作內容
		<li>城市產出資料彙整</li>
		<li>協助資訊行政事務及文書工作</li>
		<li>完成主管交辦事項</li>
	</h3>
	<h3>職務類別
		<li>資訊助理人員</li>
		<li>工讀生</li>
	</h3>
	<h3>科系要求
		<li>資訊管理相關</li>
		<li>資訊工程相關</li>
	</h3>
	<h3>其他條件
		<li>略懂python及C#程式語言</li>
		<li>主動積極、具抗壓性、做事謹慎</li>
	</h3>

	<hr>
	<img src="c:/mis1/static/3.jpg" width="350" height="710">
	<img src="c:/mis1/static/4.jpg" width="350" height="710">
	<img src="c:/mis1/static/5.jpg" width="350" height="710">
</body>
</html>